

<h1>All Stops</h1>

<h3>Listed by city</h3>

<% if @stops.any? %>
  <table>
    <tr> <th>City</th><th>Train</th><th>Time</th> </tr>
    <% @stops.each do |stop| %>
    <tr> <td><%= stop.city.name%></td> <td><%=stop.train.name%></td> <td><%=stop.time%></td></tr>
    <% end %>
  </table>
<% else %>
  <p>There are no stops to display....hope you like your neighbor</p>
<% end %>

<p><a href="/stops/new">Add a new stop</a></p>
<p><a href="/trains">show all trains</a></p>
